<header class="hero">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" routerLink=""><h2>Xelaj Ergö <span class="mod-gold">Designs.</span></h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="p-5" style="color: #fff;" routerLink="">Home <span class="sr-only">(current)</span></a>
                <a class="p-5" style="color: #fff;" routerLink="/gallery">Gallery</a>
                <ng-container *ngIf="!userService.status_login(); else loggedIn">
                    <a class="p-5" style="color: #fff;" routerLink="/login">Log in</a>
                    <a class="p-5" style="color: #fff;" routerLink="/register">Register</a>
                </ng-container>
                <ng-template #loggedIn>
                    <ng-container *ngIf="userService.is_admin()">
                            <a class="p-5" style="cursor: pointer;color: #fff;" routerLink="/admin">Admin</a>
                    </ng-container>
                    <a class="p-5" style="cursor: pointer;color: #fff;" (click)="userService.log_out()">Logout</a>   
                </ng-template>
            </div>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>
<footer class="footer">
    <div class="contact">
        <div class="item__contact">
            <i class='bx bx-copyright contact__icon'></i>
            <a href="" class="link-footer"><h3 class="contact__title">Xelaj Ergö Desings</h3></a>
        </div>
        <div class="item__contact">
            <i class='bx bx-mail-send contact__icon'></i>
            <a href="mailto:XelajErgo@gmail" class="link-footer"><h3 class="contact__title">XelajErgo@gmail.com</h3></a>
        </div>
        <div class="item__contact">
            <i class='bx bxs-edit-location contact__icon'></i>
            <a href="https://goo.gl/maps/sGgdMGCpjFjVdeTs9" class="link-footer"><h3 class="contact__title">Location</h3></a>
        </div>
        <div class="item__contact">
            <i class='bx bxs-chat contact__icon'></i>
            <a href="http://localhost:4200/contact" class="link-footer"><h3 class="contact__title">Contact us</h3></a>
        </div>
    </div>
</footer>
