<app-navbar></app-navbar>
<router-outlet></router-outlet>
<footer class="footer">
    <div class="contact">
        <div class="item__contact">
            <i class='bx bx-copyright contact__icon'></i>
            <a href="" class="link-footer"><h3 class="contact__title">Xelaj Göer Desings</h3></a>
        </div>
        <div class="item__contact">
            <i class='bx bx-mail-send contact__icon'></i>
            <a href="mailto:XelajErgo@gmail" class="link-footer"><h3 class="contact__title">XelajErgo@gmail.com</h3></a>
        </div>
        <div class="item__contact">
            <i class='bx bxs-edit-location contact__icon'></i>
            <a href="https://goo.gl/maps/sGgdMGCpjFjVdeTs9" class="link-footer"><h3 class="contact__title">Location</h3></a>
        </div>
        <div class="item__contact">
            <i class='bx bxs-chat contact__icon'></i>
            <a href="http://localhost:4200/contact" class="link-footer"><h3 class="contact__title">Contact us</h3></a>
        </div>
    </div>
</footer>
