<div class="text-center p-4" style="margin-top: 20px;">
    <div class="col">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
<div class="content p-2" fxLayout="row wrap" >
    <div fxFlex="25%" class="p-1" *ngFor="let canva of productService.products | paginate: { itemsPerPage: 8, currentPage: p }">
        <mat-card class="mat-elevation-z4 cmtcard">
        <mat-card-header class="d-flex justify-content-between alingn-items-center">
            <mat-card-title>
                {{canva.name}}      
            </mat-card-title> 
            <button class="btn ctm_btn" (click)="delete_Canva(canva._id)">
                <i class="far fa-trash-alt"></i>
            </button>   
        </mat-card-header>
        <img mat-card-image  [src]="canva.imgURL"/>
        <div class="card-body">
            <p>{{canva.price}} Euros</p>
            <a [routerLink]="['/add-canva/edit', canva._id]" class="btn">
                Update
            </a>
        </div> 
        </mat-card>
    </div>
</div>
<div class="text-center p-4" style="margin-bottom: 20px;">
    <div class="col">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>