<!-- <router-outlet> -->
    <header class="hero">
        <section class="container hero__main">
            <div class="hero__textos">
                <h1 class="title">The best <span class="mod-gold">designs.</span></h1>
                <p class="copy">The art at home</p>
                <a href="http://localhost:4200/gallery" class="cta">Gallery</a>
            </div>
            <img src="assets/img/canva1.jpg" class="mockup">
        </section>
    </header>
    <main>
        <section class="demos">
            <div class="container">
                <h2 class="subtitle">My creations</h2>
                <article class="container-cards">
                   <div class="card">
                        <img src="assets/img/canva5.jpg" class="card__img">
                        <div class="card-body">
                            <p class="card-text text-white">Exodo</p>
                        </div>
                    </div>
                   <div class="card">
                        <img src="assets/img/canva20.jpg" class="card__img">
                        <div class="card-body">
                            <p class="card-text text-white">Canicas</p>
                        </div>
                    </div>
                   <div class="card">
                        <img src="assets/img/canva18.jpg" class="card__img">
                        <div class="card-body">
                            <p class="card-text text-white">Cuore</p>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </main>
<!-- </router-outlet> -->
