<div class="container">
    <div class="row">
      <div class="col lg-6">
        <div class="card">
          <div class="h3 ctmlabel mb-4">LOGIN</div>
            <form #formLogin="ngForm" (ngSubmit)="loginUser(formLogin)">
                <div class="form-group">
                  <label class="ctmlabel" for="InputEmail">Email address</label>
                  <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                          placeholder="Enter email" name="email" required [(ngModel)]="userLogin.selectedUser.email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label class="ctmlabel" for="InputPassword">Password</label>
                  <input type="password" class="form-control" id="password"
                          placeholder="Password" name="password" required [(ngModel)]="userLogin.selectedUser.password">
                </div>
                <!-- <div class="form-check p-4">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label ctmlabel" for="exampleCheck1">Check me out</label>
                </div> -->
                <button type="submit" class="btn p-3">Submit</button>
                <a routerLink="/register" class="form-control account-user">Does not you have account?</a>
            </form>
        </div>
      </div>
    </div>
  </div>
