<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" *ngFor="let i of productService.products;let index = index"
                [attr.data-slide-to]="index"></li>
        </ol>
        <div class="card ctmcard">
            <div class="carousel-inner" >
                <div class="carousel-item active"
                    *ngFor="let canva of productService.products;let index = index;let isFirst = first"
                    [ngClass]="{active:isFirst}">
                    <img class="d-block w-100 ctm_img" [src]="canva.imgURL" alt="First slide">
                    <div class="carousel-caption">
                        <h3>{{canva.name}}</h3>
                        <h6>{{canva.price}} Euros</h6>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

