.cmtcard{
    padding: 20px;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    color: #F4BD76;
}

.btn{
    background-color: #F4BD76;
    color: black;
}

.btn.ctm_btn{
    float: right;
    margin-bottom: 10px;
}