<div class="content p-2" fxLayout="row wrap" >
    <div fxFlex="65%" class="p-1">
        <mat-card class="mat-elevation-z4 cmtcard">
        <img mat-card-image  [src]="productService.selectedProduct.imgURL"/>
        </mat-card>
    </div>
    <div fxFlex="35%" class="p-1">
        <mat-card class="mat-elevation-z4 cmtcard">
            <mat-card-header class="d-flex justify-content-between alingn-items-center">
                <mat-card-title>
                    <h1 class="p-4" style="font-size: 48px;">COMPRAR</h1>
                    <p class="p-4" style="font-size: 32px;">{{productService.selectedProduct.name}}</p> 
                </mat-card-title> 
            </mat-card-header>  
            <div class="card-body p-4">
                <p class="p-2">{{data.name.toUpperCase()}} {{data.surname.toUpperCase()}}</p>
                <p class="p-2">{{data.address.toUpperCase()}} ({{data.city.toUpperCase()}})</p>
                <p class="p-2">{{productService.selectedProduct.price}} Euros</p>
            <button class="btn">PayPal</button>
         </div> 
        </mat-card>
    </div>
</div>

